<div style="width:95%;margin:0 auto;">
	<h3>Modificar Enlace Satelital con CID <%= @link.CID %></h3>
	<h4><%=link_to "Volver", link_path, class:"btn white be-red top-space "%></h4>
	<%= render "form", name: "Modificar" %>
</div>