<div class="row center-xs">
  <div class="col-md-10">
    <div class="text-left">
  		<h3>Reportes Satelital</h3>
  	</div>
	</div>
</div>

<div style="width:50%;margin:0 auto;">
	<table style="width:100%">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Descripción</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%=link_to "Operativos", satelitalreports_operativos_path%></td>
				<td>Enlaces Operativos</td>
			</tr>
			<tr>
				<td>Capacidades</td>
				<td>Distribución de Capacidades</td>
			</tr>
			<tr>
				<td>Graficos</td>
				<td>Reportes Gráficos</td>
			</tr>
		</tbody>
  </table>
  <h4><%=link_to "Volver", root_path, class:"btn white be-red" %></h4>
</div>